{% extends 'food/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block body %}
        {% for item in item_list %}
            <div class="row align-items-center m-3">
                <div class="col-md-3 offset-md-4">
                    <img height="200" width="250" class="card"  src="{{ item.item_image }}"/>
                </div>
                <div class="col-md-2">
                    <h3>{{ item.item_name }}</h3>
                    <h5><u>description:</u> {{ item.item_desc }}</h5>
                    <h6><u>prince:</u> ${{ item.item_price }}</h6>
                    <h6><u>created by:</u> {{ item.user_name }}</h6>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'food:detail' item.id %}" class="btn btn-success">Details</a>
                </div>
            </div>
        {% endfor %}
    {% endblock %}
{#        this is old code#}
{#        <ul>#}
{#            {% for item in item_list %}#}
{#            <li>#}
{#                <a href="{% url 'food:detail' item.id %}">{{ item.id }} -- {{ item.item_name }}</a>#}
{#            </li>#}
{#            {% endfor %}#}
{#        </ul>#}

</body>
</html>





